body {
    background-color: black;
    font: normal 14pt Segoe UI;
}

header {
    color: white;
    text-align: center;
}

section {
    background: #D5D8DA;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #E95378;
}

div {
    text-align: center;
}

footer {
    font-size: medium;
    font-style: italic;
    color: #E95378;
    text-align: center;
    margin-top: 10%;
}

img.round {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}